.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  
  .Home h2 {
    font-size: 80px;
    text-shadow: 16px 16px 32px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
  }
  
  .Home h3 {
    font-size: 45px;
    text-shadow: 16px 16px 32px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
  }
  