.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Home h2 {
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .Home h3 {
    font-size: 32px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  